* {padding: 0; margin: 0;}

body {
	display: flex;
	flex-direction: column;
	padding: 56px 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 100%;
	color: #494c4e;
	background-color: #000;
/*	max-width: 1200px;*/
/*	margin: 0 auto;*/
}

h1 {
	font-size: 3em;
}

ul {
	list-style: none;
}

nav {
	max-width: 1200px;
	margin: 0 auto;
}

main {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 20px;
	background-color: white;
}

.jumbotron {
	background-image: url("./assets/head-holder.jpg");
	background-size: cover;
	overflow: hidden;
    padding: 6rem 2rem;
    color: white;
}

.head-container {
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 6rem 4rem;
}

.email-head {
		background-image: url("./assets/emails/head-img.jpg");
}

.banner-head {
		background-image: url("./assets/banners/head-img.jpg");
}

.video-head {
		background-image: url("./assets/videos/head-img.jpg");
}

.pad-15 {
	padding: 15px;
}

.lead {color: black;}

section {
	width: 80%;
	margin: 0 auto;
	padding: 25px;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 100px 0;
}

.work-icon {
	margin: 10px;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.highlight:hover {
	border: 1px solid #e04622;
}

.title {
	text-align: center;
	font-size: 2.5em;
	line-height: 1;
	margin-bottom: 10px;
}

.txt-center {text-align: center;}

.flex-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.flex-column {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.flex-item-200x150 {
	height: 150px;
	width: 200px;
	margin: 10px;
	border: 1px solid #494c4e;
	border-radius: 15px;
	padding-top: 20px;
}

.flex-item-500 {
	width: 500px;
	margin: 10px;
}

.width-70 {
	width: 70%;
	margin: 0 auto;
}

/*STYLES FOR EMAILS PAGE*/

.left-side-email{
	flex: 0 2 400px;
}
.right-side-email{
	flex: 0 1 250px;
}

/*.media-container {
	padding: 25px 0;
}*/

.media-subtitle {padding-bottom: 10px;}

@media screen and (min-width:640px){
	.flex-container{
		display:flex;
		justify-content: space-around;
	}

	.navitem {
		display: block;
		width: auto;
	}
}

@media screen and (min-width: 800px) {
	.page-title {
		display: block;
	}

	.page-title-mobile {
		display: none;
		margin: 0;
	}
}

@media (min-width: 992px) {
	.hide-large {
		display: none;
	}

	.show-large {
		display: block;
	}