* {padding: 0; margin: 0;}

body {
	display: flex;
	flex-direction: column;
	padding: 56px 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 100%;
	color: #494c4e;
	background-color: #000;
/*	max-width: 1200px;*/
/*	margin: 0 auto;*/
}

h1 {
	font-size: 3em;
}

ul {
	list-style: none;
}

nav {
	max-width: 1200px;
	margin: 0 auto;
}

a {
	color: 	#494c4e;
}

a:hover {
	text-decoration: none;
	color: 	#494c4e;
}

main {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
/*	padding-top: 20px;*/
	background-color: white;
}

.jumbotron {
	background-image: url("./assets/head-holder.jpg");
	background-size: cover;
	overflow: hidden;
    padding: 6rem 2rem;
    color: #000;
}

.head-container {
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 6rem 4rem;
}

.email-head {
		background-image: url("./assets/emails/head-img.jpg");
}

.banner-head {
		background-image: url("./assets/banners/head-img.jpg");
}

.video-head {
		background-image: url("./assets/videos/head-img.jpg");
}

.pad-15 {
	padding: 15px;
}

.lead {color: black;}

section {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 25px;
}

aside {
	box-shadow: 0px 2px 4px rgba(0,0,0,.4);
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 100px 0;
}

#resume-frame {
	text-align: center;
}

.work-icon {
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 150px;
	height: 150px;
	border-radius: 15%;
	overflow: hidden;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.icon-label {
	font-size: 24px;
	line-height: 1.1;
	background-color: rgba(255, 255, 255, 0.2);
}

.work-icon:hover {
	border: 1px solid #e04622;
}

#email-icon {
	background-image: url(./assets/email_icon.jpg);
}

#banner-icon {
	background-image: url(./assets/banner_icon.jpg);
}

#video-icon {
	background-image: url(./assets/video_icon.jpg);
}

.title {
	text-align: center;
	font-size: 2.5em;
	line-height: 1;
	margin-bottom: 10px;
}

.txt-center {text-align: center;}


.flex-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.flex-column {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.flex-item-200x150 {
	height: 150px;
	width: 200px;
	margin: 10px;
	border: 1px solid #494c4e;
	border-radius: 15px;
	padding-top: 20px;
}

.flex-item-500 {
	width: 500px;
	margin: 10px;
}

.flex-item-300 {
	width: 300px;
	margin: 10px;
}

.email-img {
	width: 100%;
}

.portfolio-row {
	width: 70%;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

/*STYLES FOR EMAILS PAGE*/

/*.media-container {
	padding: 25px 0;
}*/

.media-subtitle {padding-bottom: 10px;}

@media screen and (min-width:640px){
	.flex-container{
		display:flex;
		justify-content: space-around;
	}

	.navitem {
		display: block;
		width: auto;
	}
}

/*@media screen and (min-width: 800px) {
	.page-title {
		display: block;
		text-align: right;
	}*/
}

@media screen and (min-width: 992px) {
	.hide-large {
		display: none;
	}

	.show-large {
		display: block;
	}
}