*,:after,:before{
	box-sizing:border-box
}

body{
	margin:0 auto;
	padding:20px;
	font-family: 'Helvetica', sans-serif;
	background-color: #000000;
	color: #1c9ed8;
	max-width: 800px;
}

ul {
	list-style: none;
	padding-inline-start: 0;
}

a {
	text-decoration: none;
	font-family: 'Michroma', sans-serif;
	color: #e1d950;
}

a:hover {
	color: #e04622;
	}

main,
.header,
.left-side, .right-side,
.portfolio,
.copy,
.disclaimer,
.philosophy,
.head-img {
	display:block;
	padding: 20px;
}

main {border: none;}

.flex-container {
	border-bottom: 1px dotted #e04622;
	padding: 15px 0;
}

.pre-title, .title, .page-title {font-family: 'Michroma', sans-serif;}

.blue {color: #1c9ed8;}
.yellow {color: #e1d950;}
.red {color: #e04622;}

.name {font-size: 40px;}
.job {font-size: 32px;}
.copy {font-size: 16px; text-align: center;}
.disclaimer {font-size: 14px}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 10px;
}

.navitem {
	width: 100%;
	text-align: center;
}

.pre-title{font-size: 16px;}
.title {font-size: 30px; padding-bottom: 10px;}

.work-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.work-item {
	margin: 15px;
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 15%;
	overflow: hidden;
}

.work-item:hover {
	border: 1px solid #e04622;
}

.work-item img,
#superRob,
.email-img {
	width: 100%;
}

.left{border-left: 1px solid #e04622;}
.bottom{border-bottom: 1px solid #e04622;}
.right{border-right: 1px solid #e04622;}

.textCenter {text-align: center;}

.left-side{
	flex:1;
	flex:0 1 300px;
}
.right-side{
	flex: 1;
}

.page-title {text-align: right; padding-right: 20px; display: none;}

.work-intro, .email-container {border-bottom: 1px dotted #e04622;}
.philosophy {border-bottom: 1px dotted #e04622; border-top: 1px dotted #e04622;}


.media-head {
	width: 100%;
	height: 250px;
	overflow: hidden;
	margin-bottom: 15px;
}

.email-head {
	background: url(./assets/emails/head-img.jpg)no-repeat;
}

.banners-head {
	background: url(./assets/banners/head-img.jpg)no-repeat;
}

/*STYLES FOR EMAILS PAGE*/

.left-side-email{
	flex: 0 2 400px;
}
.right-side-email{
	flex: 0 1 250px;
}

/*.media-container {
	padding: 25px 0;
}*/

.media-subtitle {padding-bottom: 10px;}

/*.email-img {padding-top: 10px;}*/

@media screen and (min-width:640px){
	.flex-container{
		display:flex;
		justify-content: space-around;
		border-bottom: 1px dotted #e04622;
	}

	.navitem {
		display: block;
		width: auto;
	}

	main {
		border-left: 1px solid #e04622;
	}
}

@media screen and (min-width: 800px) {
	.page-title {
		display: block;
	}

	.page-title-mobile {
		display: none;
		margin: 0;
	}
}

/*STYLES FOR BANNERS PAGE*/

.left-side-300{
	flex: 0 2 300px;
	align-content: center;
}
.right-side-300{
	flex: 0 1 300px;
	align-content: center;
}
